
.carousel-container {
    margin-top: 20px;
    margin-bottom: 30px;
    overflow: hidden;
    width: 100%;
    display: flex;
    justify-content: center;
}

.carousel {
    display: flex;
    gap: 16px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
}

.carousel img {
    width: 250px;  /* Para desktop */
    height: 140px;
    object-fit: cover;
    border-radius: 8px;
    transition: transform 0.3s ease;
}

.carousel img:hover {
    transform: scale(1.1);
}

/* Responsividade para Tablets */
@media (max-width: 1199px) {
    .carousel img {
        width: 200px;  /* Ajusta as imagens para tablets */
        height: 120px;
    }
}

/* Responsividade para Móveis */
@media (max-width: 767px) {
    .carousel img {
        width: 150px;  /* Ajusta as imagens para dispositivos móveis */
        height: 100px;
    }

    .carousel {
        gap: 10px;  /* Reduz o espaçamento entre as imagens no celular */
    }
}
